body{
	background-image: url("branch.png");
}

@font-face {
	font-family: 'Enriqueta';
	src: url("fonts/Enriqueta-Regular.otf") format("opentype");
}
@font-face {
	font-family: 'FiraSans';
	src: url("fonts/FiraSans-Regular.otf") format("opentype");
}

img.bg{
  /* Set rules to fill background*/ 
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */ 
  width: 100%;
  height: auto;
	
  /* Set up positioning */ 
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image*/ 
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */ 
  }
}
div.section:hover .innerHover, div.section:hover .centered{
	opacity:1.0;
    filter:alpha(opacity=100);
}
.myImage {
     position: fixed;
     background: transparent;
     width: 300px;
	 top: 68%;
	 left: 20%;
	 padding: 5px;
	 transform: translate(-50%, -50%);
}
.innerHover {
	font-family: 'FiraSans';
	font-size: 12px;
	text-align: center;
    position: center;
	background: rgba(0, 0, 0, 0.5);
    top: 55%;
    left: 20%;
    /*width: 50px;
    height: 50px;*/
	color:#ffffff;
	opacity:0.0;
    filter:alpha(opacity=0);
}
/*.innerHover:hover{
	background:black;
    /*opacity:1.0;
    filter:alpha(opacity=100); /** no transparency on hover *
}*/
.gbubble{
	position: absolute;
	display: inline;
	padding: 3px 3px 3px 3px;
	width:64px;
	height:64px;
	border-radius:35px;
	background: #54E823 /*center top no-repeat*/;
	transform: translate(-50%, -50%);
}
.gbubble:hover{
	width: 90px;
	height: 90px;
	padding: 5px 5px 5px 5px;
	border-radius: 50px;
	transition:0.5s;
	
}

.centered {
  position: fixed;
  top: 30%;
  left: 20%;
  width:290px;
  height:290px;
  border-radius:150px;
  padding: 5px 5px 5px 5px;
  background: white;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  opacity:0.0;
  filter:alpha(opacity=0);
}
